.kutu{

    width: 300px;
    height: 500px;
    background-color: rgb(255, 230, 0);
    border:10px dotted rgb(51, 0, 255);
    border-radius: 20px;
    box-shadow: 5px 5px 7px red;
}

.kirmizi{
    color: red;
    text-align: right;
    background-color: aquamarine;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: black ;
    height: 500px;


}

.container div{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    padding: 20px;
    margin: 20px;
    }